pipeline/CricbuzzSeriesPipeline.json
{
	"name": "CricbuzzSeriesPipeline",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(2008,2009)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "APIgetSeriesLeague",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com",
									"x-rapidapi-key": "19b75326b3mshc9a93b138461d32p192a82jsnead60c87e459"
								},
								"url": {
									"value": "@concat('https://cricbuzz-cricket.p.rapidapi.com/series/v1/archives/league?year=',item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "responseVariable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "APIgetSeriesLeague",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "responseVariable",
								"value": {
									"value": "@{activity('APIgetSeriesLeague').output.seriesMapProto[0]}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copyDataToBlob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "responseVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": {
										"type": "Expression",
										"value": "@{variables('responseVariable')}"
									},
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "sampleJson",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "outputJson",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"testVariable": {
				"type": "String",
				"defaultValue": "sample text"
			},
			"responseVariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}