pipeline/CricbuzzSeriesPipeline.json
{
	"name": "CricbuzzSeriesPipeline",
	"properties": {
		"activities": [
			{
				"name": "Loop_for_league_series",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(2008,3)",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "APIgetSeriesLeague",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"x-rapidapi-host": "cricbuzz-cricket.p.rapidapi.com",
									"x-rapidapi-key": "19b75326b3mshc9a93b138461d32p192a82jsnead60c87e459"
								},
								"url": {
									"value": "@concat('https://cricbuzz-cricket.p.rapidapi.com/series/v1/archives/league?year=',item())",
									"type": "Expression"
								}
							}
						},
						{
							"name": "responseVariable",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "APIgetSeriesLeague",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "responseVariable",
								"value": {
									"value": "@{activity('APIgetSeriesLeague').output.seriesMapProto[0]}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copyDataToBlob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "responseVariable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "year",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										},
										{
											"name": "data",
											"value": {
												"value": "@variables('responseVariable')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "year",
												"type": "String"
											},
											"sink": {
												"name": "year",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "data",
												"type": "String"
											},
											"sink": {
												"name": "data",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sampleCSV",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "outputCSV",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"years": {
				"type": "array",
				"defaultValue": []
			}
		},
		"variables": {
			"testVariable": {
				"type": "String",
				"defaultValue": "sample text"
			},
			"responseVariable": {
				"type": "String"
			}
		},
		"annotations": []
	}
}