pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(2008,2)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Web2",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"X-Rapidapi-Key": "19b75326b3mshc9a93b138461d32p192a82jsnead60c87e459",
									"X-Rapidapi-Host": "cricbuzz-cricket.p.rapidapi.com"
								},
								"url": {
									"value": "@concat('https://cricbuzz-cricket.p.rapidapi.com/series/v1/archives/league?year=',item())",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "integrationRuntime1",
									"type": "IntegrationRuntimeReference"
								}
							}
						},
						{
							"name": "Web3",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Web2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PUT",
								"url": {
									"value": "@concat('https://cricketstorageaccount.blob.core.windows.net/raw/',item(),'.json')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "integrationRuntime1",
									"type": "IntegrationRuntimeReference"
								},
								"body": {
									"value": "@activity('Web2').output",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"x-rapidapi-host": {
				"type": "String",
				"defaultValue": "cricbuzz-cricket.p.rapidapi.com"
			},
			"x-rapidapi-key": {
				"type": "String",
				"defaultValue": "19b75326b3mshc9a93b138461d32p192a82jsnead60c87e459"
			}
		},
		"annotations": []
	}
}