pipeline/pl_api_to_blob_league_series.json
{
	"name": "pl_api_to_blob_league_series",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"x-rapidapi-host": {
							"value": "@pipeline().globalParameters.x_rapidapi_host",
							"type": "Expression"
						},
						"x-rapidapi-key": {
							"value": "@pipeline().globalParameters.x_rapidapi_key",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@concat('https://cricbuzz-cricket.p.rapidapi.com/series/v1/archives/league?year=',string(pipeline().parameters.year))",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "integrationRuntime1",
						"type": "IntegrationRuntimeReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "data",
								"value": {
									"value": "@string(activity('Web1').output.seriesMapProto[0].series)",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "response",
									"type": "String"
								},
								"sink": {
									"name": "response",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference",
						"parameters": {
							"year": {
								"value": "@pipeline().parameters.year",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"year": {
				"type": "int",
				"defaultValue": 2009
			}
		},
		"variables": {
			"x-rapidapi-host": {
				"type": "String",
				"defaultValue": "cricbuzz-cricket.p.rapidapi.com"
			},
			"x-rapidapi-key": {
				"type": "String",
				"defaultValue": "19b75326b3mshc9a93b138461d32p192a82jsnead60c87e459"
			}
		},
		"annotations": []
	}
}